		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>Links to Stuff</h3>
									<ul class="links">
										<li><a href="/contact">Contact Us</a></li>
										<li><a href="/terms">Terms of Use</a></li>
										<li><a href="/privacy_policy">Privacy Policy</a></li>
									
									</ul>
								</section>
							</div>
						</div>
						
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; Vivacitas Bio. All rights reserved</li>
						</ul>
					</div>

			</div>

	</body>
</html>